*~
**/Library/*
**/Temp/*
*.MP4
*.mp4
*.png
*.swp.tex
*.swp
*.pdf
*.svg
*.csv
*.h5
*.pyc
*.cpython-35.pyc
*.json
*.idea
*.tar
3d_reconstruction/images/
__pycache__/
*.py[cod]
*.zip
data/
modules/Sessions/*
*.html
*.bbl
*.aux
*.log
*.blg
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
